* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    margin: 10vh auto;
    background-color: white;
    box-shadow: 10px 10px 10px 10px ;
}

.mtop {
    margin-top: 20px;
}

.mbottom {
    margin-bottom: 20px;
}

.mright {
    margin-right: 20px;
}

.mleft {
    margin-left: 20px;
}

.bbottom {
    border-bottom: 2px solid black;
}

.blank {
    font-size: 30px;
}

.guess {
    display: inline;
}

.input-field {
    padding: 0 10% !important;
}

nav .brand-logo{
    font-family: "Staatliches";
    font-size: 50px;
}
